name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:  

jobs:
  deploy:

    runs-on: ubuntu-latest

    env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/docs-ai-main-server:v1

    steps:
    - name : Checkout repository    
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ env.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true 
        tags: ${{ env.DOCKER_IMAGE }}

        